@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body,
html {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}